* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    margin: 4rem 0;
}

.blanc {
    color: white;
}
/* header */
header {
    padding: 15px 90px;
    background-color: #057858;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lienHeader {
    display: flex;
    justify-content: center;
    max-width: 200px;
}

.nomLogo img {
    transform: rotate(45deg);
}

.nomLogo {
    height: auto;
    display: flex;
    align-items: center;
}

header div p {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.lienHeader {
    width: 10rem;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    max-width: 300px;
    width: 100%;
}

.btnNav {
    background-color: red;
    border-radius: 0.3rem;
    width: 8rem;
    height: 2.2rem;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.2rem;
    position: relative;
    left: 10px;
}

.logoCoeur {
    width: 1.1rem;
    height: auto;
}
/* section 1 */
.section1 {
    background-image: url('ECF PIC/deux chiens cours.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 53.125rem;
}

.section1 div {
    background-color: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section1 h1 {
    font-size: 5rem;
    margin: 5%;
}

.section1 p {
    font-size: 1.875rem;
}
/* section deux */
.section2 {
    height: 37.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* container don */
.container {
    border-radius: 0.6rem;
    padding: 1.25rem;
    height: 18rem;
    max-width:  200rem;
    width: 55%;
    box-shadow: -17px 13px 42px -29px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
   
}
/* prix don */
.btndon {
    height: 100%;
    margin: 0 1%;
    width: 30%;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    border-radius: 0.3rem;
    background-color: white;
}


.btndon p {
    color: #9b9b9b;
}
/* quand on selectionne les don il s'applique */
.selectionner {
    background-color: #d2ffc45d;
    border-color: #057858;
}

.bold {
    font-weight: 800;
    font-size: 1.25rem;
    color: black;
}

.choixDure {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.choixDon {
    height: 100%;
    display: flex;
    justify-content: center;
}

.donTime {
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem;
}

.timeSelect {
    background-color: #057858;
}

.faireUnDon {
    width: 100%;
    height:4rem;
    font-weight: 800;
    background-color: rgb(205, 23, 23);
    border: none;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.coeurDon {
    width: 0.9rem;
}
/* section 3 - Notre Mission */

.section3 {
    background-color: #EDFEF6;
    min-height: 37.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    display: flex;
    height: 31.25rem;
    max-width: 75rem;
    width: 100%;
    margin: 3.75rem;
    border-radius: 0.6rem;
    background-color: white;
   
    box-shadow: 0px 1px 15px -8px;
}

h3 {
    font-size: 1.875rem;
    font-weight: 800;
    padding-bottom: 1.25rem;
}

.container3 img {
    flex: 1;
    object-fit: cover;
    width: 50%;
    height: 100%;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}

.missionCase {
    flex: 1;
    padding: 1.25rem;
    margin: 2.2rem;
}

.missionCase p {
    max-height: 22.3rem;
    height: 100%;
    font-size: 1.25rem;
    color: #272727;
    
}

.section4 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}
/* style des boites */
.box {
    margin: 20px;
    max-width: 100%;
    width: 30rem;
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 10px 10px 100px 10px;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem;
}
/* ajout des photos */
.box:nth-child(1) {
    background-image: url('ECF PIC/luna.avif'); 
}
.box:nth-child(2) {
    background-image: url('ECF PIC/oscar.avif'); 

}
.box:nth-child(3) {
    background-image: url('ECF PIC/max.avif'); 
}

/* s'applique a la selection de l'image */
.petSelect {
    border: solid rgb(160, 255, 96);
    border-radius: 0.6rem;
}

/* style texte */
.photoAnimaux p {
    font-weight: 700;
    color: white;
}

.photoAnimaux {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

/* affichage des animaux selectionner */
#displayAnimaux {
    margin: 20px;
    max-width: 75rem;
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('ECF PIC/luna.avif');
    box-shadow: inset 50px 50px 400px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0.6rem;
}

.datePet {
    margin-left: 3.1rem;
    margin-bottom: 3.1rem;
    font-weight: 300;
    color: #a3a3a3;
}

.nomDisplayPet {
    margin-left: 3.1rem;
    font-weight: 800;
    font-size: 1.875rem;
    color: white;
}

.textDisplayPet {
    margin-left: 3.1rem;
    margin-right: 3.1rem;
    font-weight: 500;
    color: white;
    font-size: 1.375rem;
}
/* section 5 - testez vos connaissances */

.section5 {
    width: 100%;
    max-width: 200-;
    padding: 3%;
    background-color: #EDFEF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: auto;
}

.test {
    max-width: 53.125rem;
    width: 100%;
    height: 11.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.correct {    
    background-color: #057858;
}
.incorrect {
    background-color: #780505;

}
.section5 button {
    font-size: 0.75rem;
    font-weight: 500;
    width: 25rem;
    height: 4.4rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1.25rem;
    text-align: left;
}

.fondTest {
    width: 100%;
    padding: 1.25rem;
    background-color: white;
    height: 80%;
    border-radius: 0.6rem;
    box-shadow: 0px 4px 29px -16px;
}

.fondTest p {
    position: relative;
    font-weight: 700;
    margin: 0.5rem;
    right: 1%;
}

.repTest {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.9rem;
}

.section5-2 {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.logoImpact img {
    width: 30%;
}

.logoImpact {
    text-align: center;
    justify-content: center;
    width: 20%;
}

.logoImpact2 {
    text-align: center;
    justify-content: center;
    width: 30%;
}

.logoImpact p {
    font-weight: 400;
    font-size: 0.9rem;
}

h5 {
    font-weight: 800;
    font-size: 1.25rem;
}

/* ssection 6 */
.section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    margin: 3.1rem;
}

.container6 {
    display: flex;
    gap: 7%;
}

.story {
    flex: 1.5;
    object-fit: cover;
    height: 30%;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
}

.section6 p {
    margin: 1.25rem;
    flex: 0.9;
    text-align: left;
}

.box2 {
    border-radius: 0.9rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 30%;
    height: 20rem;
    box-shadow: 0px 4px 29px -16px;
}

/* footer */
footer {
    padding: 1.9rem;
    height: 10rem;
    background-color: #1F2937;
    display: flex;
    align-items: flex-start;
    gap: 10%;
}

footer p {
    display: flex;
    color: white;
    gap: 10%;
}

.mailIcon {
    width: 0.9rem;
}

.sectionForm {
    height: 60.9rem;
}

/* form contact */
.flexForm {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.9rem;
    margin: 3.1rem;
    height: 40rem;
    width: 40%;
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 0px 1px 15px -8px;
}

input, select {
    border: solid rgb(209, 209, 209);
    width: 100%;
    height: 1.6rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
}

textarea {
    border: solid rgb(209, 209, 209);
    height: 10rem;
    width: 100%;
    border-radius: 0.3rem;
    font-size: 0.9rem;
}

.send {
    gap: 5%;
    width: 100%;
    height: 2.5rem;
    background-color: #057858;
    color: white;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 0.3rem;
}

.send img {
    width: 0.9rem;
    height: 0.9rem;
}

.error {
    color: red;
    font-size: 0.9em;
}


/* RESPONSIVE */
@media (max-width: 615px) {
    .missionCase p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    /* header */
    header {
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav{
        max-width: 100%;
        flex-direction: column;
    }

    .btnNav {
        padding: 0.3rem;
        gap: 10px;
        justify-content: flex-start;
        width: 99%;
    }
    .lienHeader {
        max-width: 2000px;;
        width: 100%;
        padding: 0.5rem;
        align-items: flex-start;
        flex-direction: column;
    }
    
    /* image d'acceuil */
    .section1 h1 {
        font-size: 2rem;
    }
    .section1 p {
        font-size: 1.05rem;
    }

    .section1 {
        background-image: url('ECF PIC/deux chiens cours.avif');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 30.125rem;
    }
    .section1 div {
        background-color: rgba(0, 0, 0, 0.50);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /* section 2 - dons */
    .section2   {
        height: 40rem;
    }
    .choixDure {
        width: 100%;
    }

    .choixDon {
        flex-direction: column;
    }
    .btndon {
        width: 100%;
        padding: ;
    }

    .donTime
    {
        padding: 0.2rem;
    }

    .container {
        margin-bottom: 4rem ;;
        height: 100%;
        padding: 1rem;
        width: 90%;
    }
    /* section 3 - notre mission */
    .container3 {
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }
    .container3 img {
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .missionCase p  {
        
    }

     /* section 6 - temoignages */

     .container6 {
        flex-direction: column;
        align-items: center;
        gap: 30PX;
        width: 100%;
    }   
    .box2 {
        max-width: 100%;

    }

    .fondTest {
        height: fit-content;
        width: 100%;
    }
    .repTest {
        flex-direction: column;
    }

    .test {
        display: flex;
        margin: 20px;
        height: fit-content;
    }

    .section5 button {
        width: 100%;
    }

    .section5-2 {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .logoImpact {
        
    }


    /* page contact */
    form {
        width: 100%;
    }
    footer {
        height: 100%;
        flex-direction: column;
        gap: 10%;
    }


    
}
